body{
    font-family: monospace, sans-serif;
    text-align: center;
    background-color: #e6e6e6;
    color: #333;
}

h1,h2,h3{
    font-weight: 600;
    text-transform: uppercase;
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    padding: 5%;
    border: 1px solid white;
    background-color: grey;
}

#intro h1{
    margin-bottom: 2%;
}

#inputDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#inputDiv div{
    width: 100%;
    
}

#inputDiv input{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

label{
    position: relative;
    top: -20px;
    left: 0%;
}

#gridButton, #clearButton, #colorButton, #deleteButton{
    width: 30%;
    padding: 1%;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 2em;
    word-spacing: -10px;
    background-color: #2cc92c;
    border: 1px solid #2cc92c;
    border-radius: 5px;
}

#gridButton:hover{
    background-color: orange;
    border-color: orange;
}

#clearButton{
    background-color: red;
    border: 1px solid red;
}

#colorButton{
     background-color: purple;
    border: 1px solid purple;
}



